:root{
   --px-small:12px;
   --px-mediun:20px;
   --primary:#5d3ec2;
   --primary-hover:#684bc6;
   --fw-one:400;
   --fw-two:500;
   --fw-three:700;
}

.colorPrimary{
   color: var(--primary);
}

.fogotPassword{
   color: var(--primary);
   font-weight: var(--fw-two);
}

.outlineNone{
   outline: none;
   box-shadow: none 
}

.outlineNone:focus{
   outline: none;
   box-shadow: none 
}

.welcome {
   font-size: var(--px-mediun);
   color: var(--primary);
   font-weight: var(--fw-three);
}

.eyesIcon {
   width: 25px;
}

.btnAuth {
   background-color: var(--primary);
   font-size: medium;
   font-weight: 500;
}

.btnAuth:hover {
   background-color: var(--primary-hover);
}

.checkbox {
   margin: 0 0 1em 2em;
  
 }
 .checkbox .tag {
   color: #595959;
   display: block;
   float: left;
   font-weight: bold;
   position: relative;
   width: 120px;
 }

 .checkbox label {
   display: inline;
   left: 5%;
   position: absolute;
   justify-content: center;
   align-items: center;
   text-align: center;
 }

 .checkbox .input-assumpte {
   visibility: hidden;
 }

 .input-assumpte + label::before {
   background-color: #fafafa;
   border: 2px solid var(--primary);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
   display: inline-block;
   transition-duration: 0.3s;
   width: 16px;
   height: 16px;
   content: '';
   margin-left: 10px;
   border-radius: 50%;
 }
 .input-assumpte:checked + label::before {
   background-color: var(--primary);
 }

 .containerNotAccount{
   text-align: center;
 }

 .terms{
   font-size: var(--px-small);
   position: relative;
   top: -4px;
   margin-left: 4px;
   text-align: center;
   line-height: 1rem;
 }

 .searchIcon{
  width: 35px;
 }